.style-button {
    background-color: seagreen;
    color: white;
    height: 30px;
    margin: 10px auto;
    border: none;
}

.style-button.disabled {
    background-color: gray;
}

.chat-group {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px auto;
}

.group-connection {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.new-message {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.new-message-text {
    display: flex;
    flex-direction: row;
}

.style-text-box {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 30%;
    margin: 10px auto;
    padding: 5px;
    box-shadow: 1px 1px #888888;
}

.message {
    display: flex;
    flex-direction: column;
}

.style-ta {
    resize: none;
    margin: 5px auto;
    width: 100%;
}
